<div style="background-color: ">
  <br>
  <!-- Card deck -->
  <div style="margin-left: 20px; margin-right: 15px" class="card-deck" >

    <!-- Card -->
    <div style="background-color: ; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f2960f40b95b440c7d4a732_1.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">The Pragmatic Programmer</h4>
        <!--Text-->
        <p class="card-text">David Thomas & Andrew Hunt</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->
    <div style="width: available; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f29609c7a11aa6a428083c3_2.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Clean Code</h4>
        <!--Text-->
        <p class="card-text">Robert C. Martin</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>

    <!-- Card -->

    <div style="width: available; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f295ff6690b14114addeff7_5.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Head First Design Patterns</h4>
        <!--Text-->
        <p class="card-text">Eric Freeman & Bert Bates & Kathy Sierra & Elisabeth Robson</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div style="width: available; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f29310996ccc6c1d6a565b3_8.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Working Effectively with Legacy Code</h4>
        <!--Text-->
        <p class="card-text">Michael Feathers</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->

  </div>
  <!-- Card deck -->
  <br>
  <!-- Card deck -->
  <div style="margin-left: 20px; margin-right: 15px" class="card-deck" >

    <!-- Card -->
    <div style="width: available; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f2930b679f7b549a4909db5_9.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Design Patterns</h4>
        <!--Text-->
        <p class="card-text">Erich Gamma & Richard Helm & Ralph Johnson & John Vlissides</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->
    <div style="width: available; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f293052c9738c9c44b30e2b_10.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Cracking the Coding Interview</h4>
        <!--Text-->
        <p class="card-text">Gayle Laakmann McDowell</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div style="width: available; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f2992f68aa87530be31697d_11%20(1).jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Rework</h4>
        <!--Text-->
        <p class="card-text">Jason Fried & David Heinemeier Hansson</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div style="width: available; padding: 20px" class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f288688b55771628f26484c_11.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Soft Skills</h4>
        <!--Text-->
        <p class="card-text">John Sonmez</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->

  </div>
</div>
