<div class="card mb-4" style="padding: 50px; width: 400px; max-height: 1000px; border: solid 2px;margin-left: 40px">

  <!--Card image-->
  <div class="view overlay">
    <img class="card-img-top" src="{{list.img}}"
         alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">

    <!--Title-->
    <h4 class="card-title">{{list.name}}</h4>
    <!--Text-->
    <p class="card-text">{{list.author}}</p>
    <div class="collapse-content">

      <!-- Text -->
      <p *ngIf="isShow">{{list.more}}</p>
      <!-- Button -->
      <a type="button"class="btn btn-primary btn-rounded"  aria-expanded="false" (click)="show()">more</a>
    </div>

  </div>

  </div>

<!-- Card -->


