<div style="background-color: ">
<br>
<!-- Card deck -->
<div style="margin-left: 20px; margin-right: 15px" class="card-deck" >

  <!-- Card -->
  <div style="padding: 20px" class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://uploads-ssl.webflow.com/5f280c5b57d2edfcbbb057ea/5f2960f40b95b440c7d4a732_1.jpg"
           alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">The Pragmatic Programmer</h4>
      <!--Text-->
      <p class="card-text">David Thomas & Andrew Hunt</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

    </div>

  </div>
</div>
</div>
