<div class="container">
<!-- Default form register -->
<form #form="ngForm" class="text-center border border-light p-5" action="#!">

  <p class="h4 mb-4">Registration</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" required [(ngModel)]="userDetails.first_name" name = "first_name" #first_name = "ngModel">
      <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
           class="alert alert-danger">
        <div *ngIf="first_name.errors.required">
          This field is required!
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Last name -->
      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name" placeholder="First name" placeholder="Last name" required [(ngModel)]="userDetails.last_name" name = "last_name" #last_name = "ngModel">
      <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
           class="alert alert-danger">
        <div *ngIf="last_name.errors.required">
          This field is required!
        </div>
      </div>
    </div>
  </div>

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" placeholder="E-mail" email [(ngModel)]="userDetails.email" name = "email" #email = "ngModel">
  <div *ngIf="email.invalid && (email.dirty || email.touched)"
       class="alert alert-danger">
    <div *ngIf="email.errors.email">
      E-mail should be valid!!
    </div>
  </div>

  <!-- Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" placeholder="Password" [(ngModel)]="userDetails.password" name = "password" minlength="8" aria-describedby="defaultRegisterFormPasswordHelpBlock" #password = "ngModel">
  <div *ngIf="password.invalid && (password.dirty || password.touched)"
       class="alert alert-danger">
    <div *ngIf="password.errors.minlength">
      Password should be at least 8 characters!
    </div>
  </div>

  <!-- Newsletter -->
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
  </div>

  <!-- Sign up button -->
  <button class="btn btn-info my-4 btn-block" type="submit" (click)="addUser('')" [disabled]="!form.valid">Sign in</button>

  <!-- Social register -->
  <p>or sign up with:</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

  <hr>

  <!-- Terms of service -->
  <p>By clicking
    <em>Sign up</em> you agree to our
    <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->
</div>
